@import '../../styles.scss';
@import '../../fonts.scss';

@media screen and (min-width: 900px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align:middle;
        background-color: map-get($ExamProyect-primary, 500);

        .grid{
            display: grid;
            grid-template-columns: auto auto auto;
            div{
                width: 70%;
                padding: 20px;
            }
        }

        p {
            white-space: pre-line;
            font-family: $footerFont;
            font-size: 20px;
            color: #ffffff;
        }

        pre{
            white-space: pre-line;
            font-family: $footerFont;
            font-size: 20px;
            color: #ffffff;
        }

        img{
            width: 50px;
        }
    }
}

@media screen and (max-width: 900px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align:middle;
        background-color: map-get($ExamProyect-primary, 500);

        p {
            white-space: pre-line;
            font-family: $footerFont;
            font-size: 20px;
            color: #ffffff;
        }

        pre{
            white-space: pre-line;
            font-family: $footerFont;
            font-size: 20px;
            color: #ffffff;
        }

        img{
            width: 50px;
        }
    }
}